.navBar {
  /* display: grid; */
  display: flex;
  justify-content: space-around;
  background-color: orange;
  opacity: .8;
}

.toNewTransaction {
  background-color: orange;
  opacity: .8;
  border: none;
}

.toTransactions,
.toNewTransaction {
  font-size: 26px;
  font-weight: bold;
  border: none;
}
