.newForm {
    display: flex;
flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
    margin-left: 30%;
}

input, button {
    margin-bottom: 10px;
    width: 160px; 
}

label {
    font-weight: bold;
    margin-bottom: 7px; 
}
